menu "M6E Nano UHF RFID Driver"
config M6E_NANO
    bool "Enable M6E Nano Driver"
    depends on UART_INTERRUPT_DRIVEN && GPIO

if M6E_NANO

    config M6E_NANO_RX_BUF_SIZE
        int "rx buffer size (bytes)"
        default 64
        range 0 2047
        help
            Size of uart rx buffer. Will be allocated for each device.

    config M6E_NANO_MAX_STR_LEN
        int "Maximum string length"
        default 64
        range 0 2047
        help
            Maximum length of string that can be transmitted by device. A buffer capable of containing that string will be allocated for each device.
    
    module = M6E_NANO
    module-str = M6E Nano
    source "subsys/logging/Kconfig.template.log_config"
endif
endmenu