menu "M6E Nano UART Peripheral"
config M6E_NANO
    bool "Enable m6e nano peripheral"
    depends on UART_INTERRUPT_DRIVEN

if M6E_NANO

    config M6E_NANO_DEFAULT_REGION
        hex "Default region in (hex), see README for details"
        default 0x08
        range 0x04 0xFF
        help
            Sets the interal frequency determined by region for M6E Nano.

    config M6E_NANO_DEFAULT_POWER
        int "Default maximum transmission power level of 500 (5.00dBm)"
        default 500
        range 0 2700
        help
            Maximum transmission power of device, in dBm. Maximum value is 2700 (27.00dBm).
    
    module = M6E_NANO
    module-str = M6E Nano
    source "subsys/logging/Kconfig.template.log_config"
endif
endmenu