// &uart0 {
	//     status = "okay";
	//     current-speed = <115200>;
	//     pinctrl-names = "default";

	//     fps {
		//         #address-cells = <1>;
		//         #size-cells = <0>;
		//         m6enano@ffffffff {
			//             compatible = "thingmagic,m6enano";
			//             reg = <0xffffffff>;
		//         };
	//     };
// };

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-names = "default";

	m6enano {
		compatible = "thingmagic,m6enano";
	};
};