
&uart0 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart0_default>;
    pinctrl-names = "default";
    rfid: m6e_nano0 {
        compatible = "thing_magic,m6e_nano";
        status = "okay";
        label = "m6e_nano0";
        button-gpios = <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // Button 1 on dk
        initial-string = "Hello, World!";
    };
};